@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gowun+Batang&family=Poor+Story&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

.guestbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
}

.header {
    /*색깔 있는게 나은지 없는게 나은지*/
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 30px;
    background-color: #ffffff7d;
}

.header>button {
    width: 60px;
    height: 25px;
    border: none;
    background-Color: rgba(255, 235, 235, 0.84);
    font-weight: 700;
    font-size: 12px;
    box-shadow: rgb(187, 187, 187) 0px 3px 10px 0px;
    cursor: pointer;
}

.header>button:hover {
    background-Color: rgb(255, 255, 255);
}

.logo {
    color: #453a3a;
    font-family: 'Galada', cursive;
    font-size: 20px;
    margin: 2px 0 0 10px;
}

.title {
    margin: 50px 0 5px 0;
    color: #453a3a;
    font-size: 50px;
    /* font-family: 'Galada', cursive; */
    font-family: 'Cafe24Ssurround';
    font-weight: 700;
}

.container {
    width: 60vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(187, 187, 187) 0px 10px 20px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.alertContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.alert {
    display: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    font-family:'GangwonEdu_OTFBoldA';
    border-radius: 10px;
    background-color: #dbdbdb85;
    color: #535353;
    font-size: 13px;
}

.alertMaximum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    font-family:'GangwonEdu_OTFBoldA';
    border-radius: 10px;
    background-color: #dbdbdb85;
    color: #535353;
    font-size: 13px;
}

.contents {
    height: 80%;
    padding: 0 20px;
    overflow-y: scroll;
}

.contents::-webkit-scrollbar {
    width: 10px;
}
.contents::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px white;
}


.inputBox {
    height: 10%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.input {
    height: 30px;
    width: 75%;
    padding-left: 20px;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: 1px 1px 8px 1px #dadce0 inset;
}

.input:focus {
    outline: 1px solid #bdbdbd;
}

.submitButton {
    height: 30px;
    margin-left: 10px;
    color: #3c4043;
    background-color: rgba(186, 186, 186, 0.14);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 1px -1px, rgba(0, 0, 0, .14) 0 1px 5px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
}

.submitButton:active {
    background-color: #ffffff;
}

.buttonPart {
    display: flex;
}

.shareButton {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    padding: 2px 24px;
    background-color: #fff;
    border-radius: 30px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    font-family: 'Cafe24Ssurround';
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: normal;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}

.shareButton:active {
    background-color: #efefef;
    box-shadow: 0 4px 4px 3px rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #dfe8ff;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    
}

.feedback:hover{
    background-color: #c0d1ff;
}



@media (max-width:740px) {
    .guestbook {
        width: 100vw;
    }

    .header {
        width: 100vw;
        background-color: #ffffff7d;
    }

    .logo {
        font-size: 18px;
        margin: 3px 0 0 10px;
    }

    .container {
        width: 90vw;
        height: 70vh;
    }

    .submitButton {
        margin-left: 5px;
    }

    .title {
        font-size: 35px;
        text-align: center;
        line-height: 2.5rem;
        margin-bottom: 15px;
    }
    
    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        height: 30px;
        font-family:'GangwonEdu_OTFBoldA';
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #dbdbdb85;
        color: #535353cb;
        font-weight: 900;
        font-size: 13px;
    }

    .alertMaximum{
        display: none;
    }
    
}

/* 모바일에서 input 클릭 시 크기 변화 */
@media (max-height:640px) {
    .container {
        width: 90vw;
        height: 60vh;
    }
    .contents{
        height: 50%;
        padding: 20px;
    }
    .buttonPart{
        display: none;
    }
}

@media (max-height:500px) {
    .container {
        width: 90vw;
        height: 60vh;
    }
    .contents{
        height: 40%;
        padding: 20px;
    }
    .buttonPart{
        display: none;
    }
}