.fromStyle {
    width: 30vw;
}

.inputBox {
    margin-top: 30px;
}

.login {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    border: 0px solid;
    box-shadow: 1px 1px 8px 1px #dadce0 inset;
}

.signIn {
    font-size: 15px;
    margin-top: 5px;
    float: right;
}

.submitButton {
    height: 50px;
    width: 100%;
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 1px -1px, rgba(0, 0, 0, .14) 0 1px 5px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
    font-size: 20px;
    font-weight: 700;
    color: #453a3a;
}


@media (max-width:740px) {
    .title {
        text-align: center;
    }

    .inputBox:nth-child(1) {
        margin-top: 10px;
    }

    .fromStyle {
        background-color: #ffffff;
        width: 80vw;
        padding: 20px;
        border-radius: 30px;

    }

    .submitButton {
        background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);

    }
}