.main {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.number {
    text-align: center;
    font-weight: 700;
    font-size: 100px;
}

.text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}