.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    font-size: 10px;
    color: aliceblue;
    background-color: rgb(62, 55, 70);
}

.container {
    padding: 1rem 10%;
    background-color: rgb(207, 207, 205);
}

.main {
    max-width: 1120px;
    margin: 0 auto;
    background-color: aliceblue;
}

.markdown{
    height: auto;
    padding: 1rem;
    color: white;
    background-color:#222;
}

.copyButton{   
    /* position: absolute;
    right: 0.5rem; 
    bottom: 1rem; */
}