@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gowun+Batang&family=Poor+Story&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=block');

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    font-family: 'Galada', cursive;
    font-size: 30px;
    color: #000;
    background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 18px 0 0;
  }

.container {
    padding: 1rem 20%;
}

@media (max-width:1000px) {
    .container {
        padding: 1rem 10%;
    }
}

.main {
    max-width: 1120px;
    margin: 0 auto;
}

.input{
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    border: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
}

.idButton {
    width: 60px;
    height: 35px;
    vertical-align: middle;
    border: 0;
    border-radius: 10px;
    background-color: #a9a9a9;
    color: white;
    cursor: pointer;
}

.idButton:hover {
    background-color: #838383;
}

.markdown{
    height: auto;
    padding: 1rem;
    color: white;
    background-color:#222;
    word-break: break-all;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.copyButtonContainer{
    display: flex;
    width: 100%;
}

.copyButton{   
    width: 60px;
    height: 35px;
    margin-left: auto;
    vertical-align: middle;
    border: 0;
    border-radius: 10px;
    background-color: #7f7e7e;
    color: white;
    cursor: pointer;
}

.copyButton:hover {
    background-color: #aaaaaa;
}

.demo{
    width: 360px;
    height: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
}

.demoTitle{
    font-size: 20px;
    font-family: "Noto Sans KR, sans-serif";
    font-weight: 900;
    color: #453a3a;
}

.demoSubTitle{
    font-size: 13px;
    font-family: "Noto Sans KR, sans-serif";
    color: #453a3a;
}

.comments{
    height: 25px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

.logoContainer{
    display: flex;
}

.logo{
    font-size: 18px;
    font-family: 'Galada', cursive;
    margin-top: 10px;
    margin-left: auto;
    color: #453a3a;
}

.buttonSection {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}


.enterButton {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
    margin-right: 20px;
    padding: 2px 24px;
    background-color: #fff;
    border-radius: 30px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    font-family: 'Cafe24Ssurround';
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: normal;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}

.enterButton:active {
    background-color: #efefef;
    box-shadow: 0 4px 4px 3px rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

@media (max-width:500px) {
    .input{
        width: auto;
        padding: 10px;
        margin-right: 5px;
        border: 0;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 12px;
    }

    .demo{
        width: auto;
        height: auto;
        padding: 10px 20px;
        border-radius: 20px;
        background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
    }
    
    .idButton {
        width: auto;
        height: 35px;
        vertical-align: middle;
        border: 0;
        border-radius: 10px;
        background-color: #a9a9a9;
        color: white;
        cursor: pointer;
    }

    .idButton:hover {
        background-color: #838383;
    }
}