.signupPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.title {
    color: #453a3a;
    font-size: 50px;
    font-family: 'Galada', cursive;
}

.fromStyle {
    width: 30vw;
}

.inputBox {
    margin-top: 20px;
    text-align: center;
}

.buttonBox {
    text-align: center;
}

.singup {
    height: 50px;
    width: 90%;
    padding-left: 20px;
    border-radius: 30px;
    border: 0px solid;
    box-shadow: 1px 1px 8px 1px #dadce0 inset;
    box-sizing: border-box;
}

.login {
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    text-decoration: none !important;
    color: #191919;
}

.submitButton {
    height: 50px;
    width: 90%;
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 1px -1px, rgba(0, 0, 0, .14) 0 1px 5px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
    font-size: 20px;
    font-weight: 700;
    color: #453a3a;
    cursor: pointer;
}

.disabledButton {
    height: 50px;
    width: 90%;
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 1px -1px, rgba(0, 0, 0, .14) 0 1px 5px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    background: #bababa;
    font-size: 20px;
    font-weight: 700;
    color: #453a3a;
    cursor: pointer;
}

.alert {
    margin-left: 35px;
    float: left;
    font-size: 11px;
    color: #f82c2c;
}


@media (max-width:740px) {
    .signupPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-top: 8vh;
    }

    .title {
        text-align: center;
    }

    .inputBox:nth-child(1) {
        margin-top: 10px;
    }

    .fromStyle {
        background-color: #ffffff;
        width: 80vw;
        padding: 20px;
        border-radius: 30px;

    }

    .submitButton {
        background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
        cursor: pointer;
    }

    .disabledButton {
        background: #bababa;
        cursor: pointer;
    }
}