@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gowun+Batang&family=Poor+Story&family=Yeon+Sung&display=swap');

.container {
    display: flex;
    margin: 10px auto 20px 0;
}

.comment {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    font-weight: 300;
    word-break: break-all;
    line-height: 1.4;
    font-family: 'GangwonEdu_OTFBoldA';
    box-shadow: rgb(187 187 187) 0px 3px 8px; 
}

.date {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    color: #5d5d5d;
    font-size: 11px;
}

.deleteButton {
    color: rgb(247, 115, 115);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}