@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gowun+Batang&family=Poor+Story&family=Yeon+Sung&display=swap');

.container {
    display: flex;
    margin: 10px auto 20px 0;
}

.comment {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    font-weight: 300;
    word-break: break-all;
    line-height: 1.4;
    font-family: 'Gowun Batang', serif;
    background: linear-gradient(rgb(235, 147, 247) 0%, rgb(211, 152, 253) 100%);
    box-shadow: rgba(235, 147, 247) 0px 3px 8px;

    /* background: linear-gradient(#dfe8ff 0%, #f3c6f1 100%);
    box-shadow: rgb(141, 141, 141) 0px 2px 8px; */
}

.date {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    color: #5d5d5d;
    font-size: 11px;
}