@import url('https://fonts.googleapis.com/css2?family=Galada&family=Gowun+Batang&family=Poor+Story&family=Yeon+Sung&display=swap');

.main {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*Image part CSS*/
.imagePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 100vh;
    background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
}

/*로그인 했을 시, CSS*/
.contentsLogin {
    height: 80%;
    padding: 20px;
}

.chatContainerLogin {
    display: flex;
    margin: 10px auto 20px 0;
}

.inputChatBoxLogin {
    height: 10%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.container {
    width: 40vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(187, 187, 187) 0px 10px 20px 0px;
    border-radius: 30px;
    margin-top: 15vh;
}

.contents {
    height: 80%;
    padding: 20px;
    margin-top: 1000px;
}

.inputChatBox {
    height: 10%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    animation: fadein 1s;
    animation-fill-mode: both;
    -moz-animation: fadein 1s 0.1s;
    /* Firefox */
    -webkit-animation: fadein 1s 0.1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s 0.1s;
    animation-fill-mode: forwards;

}

.input {
    height: 30px;
    width: 80%;
    border-radius: 10px;
    border: 0px solid;
    box-shadow: 1px 1px 8px 1px #dadce0 inset;
}

.input:focus {
    outline: 1px solid #bdbdbd;
}

.chatButton {
    height: 30px;
    margin-left: 10px;
    color: #3c4043;
    background-color: rgba(186, 186, 186, 0.14);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 1px -1px, rgba(0, 0, 0, .14) 0 1px 5px 0, rgba(0, 0, 0, .12) 0 1px 5px 0;
    cursor: pointer;
}

.chatButton:active {
    background-color: #ffffff;
}

.chatContainer {
    display: flex;
    margin: 10px auto 20px 0;
}

.comment {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    font-weight: 300;
    word-break: break-all;
    line-height: 1.4;
    font-family: 'Gowun Batang', serif;
    background: linear-gradient(rgba(235, 147, 247, 0.829) 0%, rgba(211, 152, 253, 0.741) 80%);
    box-shadow: rgba(235, 147, 247) 0px 3px 8px;

}


.date {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    color: #5d5d5d;
    font-size: 11px;
}

.recommendComment {
    display: flex;
    align-items: center;
    color: #251d1d;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    font-weight: 300;
    word-break: break-all;
    line-height: 1.4;
    font-family: 'Gowun Batang', serif;
    background: linear-gradient(rgba(255, 144, 242, 0.829) 0%, rgba(234, 124, 254, 0.741) 80%);
    box-shadow: rgb(204, 204, 204) 0px 3px 8px;

}

.homeIcon {
    padding: 10px 10px 10px 5px;
    border-right: 2px solid #ffffff9b;
}

.userInfo {
    padding: 10px 5px 10px 10px;
}



/* ============================================*/

/*로그인 안했을 시 CSS*/
.chatContainer:nth-child(1) {
    animation: fadein 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    -moz-animation: fadein 1s 1s;
    /* Firefox */
    -webkit-animation: fadein 1s 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s 1s;
    animation-fill-mode: forwards;
}

.chatContainer:nth-child(2) {
    animation: fadein 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    -moz-animation: fadein 1s 2s;
    /* Firefox */
    -webkit-animation: fadein 1s 2s;
    /* Safari and Chrome */
    -o-animation: fadein 1s 2s;
    animation-fill-mode: forwards;
}

.chatContainer:nth-child(3) {
    animation: fadein 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    -moz-animation: fadein 1s 3s;
    /* Firefox */
    -webkit-animation: fadein 1s 3s;
    /* Safari and Chrome */
    -o-animation: fadein 1s 3s;
    animation-fill-mode: forwards;
}

.chatContainer:nth-child(4) {
    animation: fadein 1s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    -moz-animation: fadein 1s 4s;
    /* Firefox */
    -webkit-animation: fadein 1s 4s;
    /* Safari and Chrome */
    -o-animation: fadein 1s 4s;
    animation-fill-mode: forwards;
}

.chatContainer:nth-child(5) {
    animation: fadein 1s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    -moz-animation: fadein 1s 5s;
    /* Firefox */
    -webkit-animation: fadein 1s 5s;
    /* Safari and Chrome */
    -o-animation: fadein 1s 5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(-1000px);
    }
}

@media (max-width:740px) {
    .main {
        height: 100vh;
        background: linear-gradient(106.37deg, #dfe8ff 29.63%, #f3c6f1 51.55%, #ffcfd1 90.85%);
    }

    .imagePart {
        display: none;
    }

}