.title {
  font-size: 20px;
  font-weight: 600;
}

.content {
  width: 40%;
  height: 100%;
  margin: 10px 10px;
  max-width: 200px;
  max-width: 200px;
}

.select {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.select input[type="radio"] {
  display: none;
}
.select input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  height: 24px;
  /* width: 90px; */
  width: 100%;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: rgb(187, 187, 187) 0px 10px 20px 0px;
}
.select input[type="radio"] + label {
  width: 100%;
  height: 100%;
  color: #333;
}
.select input[type="radio"]:checked + label {
  background-color: #7f7e7e;
  color: #fff;
}

.select input[type="radio"]:checked + img {
  background-color: #7f7e7e;
  color: #fff;
  height: 100%;
}

.submmitButton {
  display: block;
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.themeImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonPart {
  margin-top: 20px;
  text-align: right;
}


/* CSS */
.idButton {
  height: 3rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 17px;
}

.idButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-idButton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-idButton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.idButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}